.add {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
  div {
    display: flex;
    margin: 1rem;
    input {
      padding: 0.5rem 0.25rem;
      margin: 0rem 0.15rem;
      font-size: 1.5rem;
      border: none;
      background-color: white;
    }
    button {
      padding: 0.5rem 0.75rem;
      font-size: 1.5rem;
      border: none;
      color: white;
      background-color: #087990;
    }
    .number {
      text-align: center;
    }
  }
}
